</br>
<h4 class="list-item text-center text-muted mt-4">Admin Panel</h4></li>
</br>
<div class="container index_content_container_admin">
    <div class="spacer_1_5"></div>
    <%= link_to "Account management", account_management_path, class: 'btn btn-outline-secondary btn-block' %>
    <%= link_to "Character management", new_character_path, class: 'btn btn-outline-secondary btn-block' %>
    </div>
  </div>
</div>


