</br>
<% if @users.nil? == false %>
  <%= render "admins/search/account_search" %>
<% elsif @characters.nil? == false %>
  <%= render "admins/search/character_search" %>
<% else %>
<h5>No Record found</h5>
<% end  %>


