<section class="content-section text-center text-secondary">
  <div class="container pt-3">
    <ul class="list-inline">
      <li class="list-inline-item"><h6>Name Of Character: <%= @character.name %></h6></li></br></br>
      <li class="list-inline-item"><h6>Fed State: <%= @character.fed_state %></h6></li>
      <li class="list-inline-item"><h6>Activity require: <%= @character.activity_require_level %></h6></li>
      <li class="list-inline-item"><h6>Happiness: <%= @character.happiness %></h6></li>
    </ul>
  </div>
</section>