<div id="footer">
  <hr>
  <div class="container pt-1">
    <p class="text-center text-muted small">Chat App | Adam Nemeth © All rights reserved</p>
  </div>
  <p class="float-right small">This is the partial of _footer.html.erb</p>
</div>