<section class="content-section text-muted text-center">
  <div id="footer">
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <p class="text-center text-muted small">Dragon's Life | Adam Nemeth © All rights reserved</p>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>
</section>