<h1>This is the partial of _nav_for_guests.html.erb</h1>

<ul class="list-inline">
  <li class="list-inline-item"><%= link_to 'sign up', new_user_registration_path %></li>
  <li class="list-inline-item"></li><%= link_to 'log-in', new_user_session_path %></li>
</ul>
<hr>