<h1>mains.index.html.erb</h1>
<div>
  <h1> @message </h1>
  <ul><%@characters.each do |deatils| %>
      <li>Character: <%= deatils.name %></li>
      <li>Age Of Character: <%= deatils.age %></li>
      <li>Status:<%= deatils.status %></li>
      <li>Owner: <%= deatils.user_id %></li>
    <% end %>
  </ul>
</div>