<h1>mains.index.html.erb</h1>
<div>
  <h1> @message </h1>
  <ul class="list-inline"><%@characters.each do |deatils| %>
      <li class="list-inline-item">Character: <%= deatils.name %></li>
      <li class="list-inline-item">Age Of Character: <%= deatils.age %></li>
      <li class="list-inline-item">Status:<%= deatils.status %></li>
      <li class="list-inline-item">Owner: <%= deatils.user_id %></li>
      </br>
    <% end %>
  </ul>
</div>