@import "bootstrap";


body{
  padding: 20px;
}

.alert {
  margin-bottom: 1px;
  height: 33px;
  line-height:30px;
  padding:0px 15px;
}

.border-3 {
  border-width:3px !important;
}

ul {
  list-style-type: none;
}

.action_image_3{
  border-left:1px solid white;
  border-right:1px solid white;
  padding-top:10px;
  padding-bottom:20px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius:5px;
  transition: all 0.5s ease;
}

.action_image_3:hover{
  border-left: 3px solid #868e96;
  border-right: 3px solid #868e96;
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 15px;
  padding-bottom: 20px;
  transition: all 0.5s ease;
}

.action_image_5{
  border-left:1px solid white;
  border-right:1px solid white;
  padding-top:10px;
  padding-bottom:20px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius:5px;
  transition: all 0.5s ease;
}

.action_image_5:hover{
  border-left: 3px solid #868e96;
  border-right: 3px solid #868e96;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  padding-bottom: 20px;
  transition: all 0.5s ease;
}

.action_image_text{
  //border-left:1px solid white;
  //border-right:1px solid white;
  //padding-top:10px;
  //padding-bottom:10px;
  //margin-left: 70px;
  //margin-right: 70px;
  //border-radius:3px;
  //transition: all 0.5s ease;
}

.action_image_text:hover{
  //border-left: 3px solid #868e96;
  //border-right: 3px solid #868e96;
  //margin-left: 95px;
  //margin-right: 95px;
  //border-radius: 10px;
  //padding-bottom: 10px;
  //transition: all 0.5s ease;
}

//.action_arrow{
//  border-left:1px solid white;
//  border-right:1px solid white;
//  padding-top:15px;
//  padding-bottom:1px;
//  margin-left: 10px;
//  margin-right: 10px;
//  margin-bottom:10px;
//  border-radius:20px;
//  transition: all 0.5s ease;
//}
//
//.action_arrow:hover{
//  border-left: 6px solid white;
//  border-right: 6px double black;
//  margin-left: 30px;
//  margin-right: 30px;
//  border-radius:100px/80px;
//  margin-bottom:10px;
//  transition: all 0.5s ease;
//}

.btn.main_action_button{
  width:90%;
  border:2px solid #868e96;
}


.action_arrow{
  //border-left:1px solid white;
  //border-right:1px solid white;
  //padding-top:10px;
  //padding-bottom:10px;
  //margin-left: 10px;
  //margin-right: 10px;
  //border-radius:5px;
  //transition: all 0.5s ease;
}

.action_arrow:hover{
  //border-left: 3px solid #868e96;
  //border-right: 3px solid #868e96;
  //margin-left: 30px;
  //margin-right: 30px;
  //border-radius: 15px;
  //padding-bottom: 10px;
  //transition: all 0.5s ease;
}

.small_arrow{
//  border-left:1px solid white;
//  border-right:1px solid white;
  margin-left: 10px;
//  margin-right: 10px;
  padding-left:4px;
//  border-radius:2px;
//  transition: all 0.4s ease;
}
//
//.small_arrow:hover{
//  border-left: 2px solid rgb(211,211,211);
//  border-right: 2px solid rgb(211,211,211);
//  margin-left: 25px;
//  margin-right: 25px;
//  border-radius: 4px;
//  padding-left:3px;
//  transition: all 0.4s ease;
//}

.index_content_container{
  margin-top:5%;
}

.side_mains_container{
  background-image: image-url('images/main.png');
  background-repeat: no-repeat;
  background-position: top;
}

.list_of_character{

}

.full_leader_board{
  max-height:400px;
  overflow-y: scroll;
}

#footer {
  position: absolute;
  bottom: 50px;
  height: 27.5px;
  width:96.5%;
}