<section class="content-section text-muted text-center mt-1">

  <div class="container text-center">
    <div class="row mt-4">

      <div class="col-lg-5 col-md-7"></div>

      <div class="col-lg-2 col-md-7">
        <div class="action_arrow">
          <%= link_to 'Back', admins_index_path, class: 'btn btn-outline-secondary'%>
        </div>
        </br>
        <p class="list-inline-item small text-dark">Back for Account index</p>
      </div>

      <div class="col-lg-5 col-md-7"></div>

    </div>
  </div>
</section>