</br>
<h4 class="list-item text-center text-muted mt-4">Age:</h4></li>

<div class="spacer_2"></div>

<div class="container mt-5 mb-4 text-center">
  <p class="text-secondary">Age is represent the age of your Character. The leader board is based in this attribute. This is automatically
  increasing every hour as long as your character is alive</p>
</div>

<div class="spacer_2_5"></div>

<%= render 'shared/dinamic_single_index_back_button' %>