</br>
<h4 class="list-item text-center text-muted mt-4">Fed State:</h4></li>

<div class="spacer_2"></div>

<div class="container mt-5 mb-4 text-center">
  <p class="text-secondary">Fed points are required to keep your character alive. You will loose them
  on every action but you always can boost up with food.</p>
</div>

<div class="spacer_2_5"></div>

<%= render 'shared/dinamic_single_index_back_button' %>