</br>
<h4 class="list-item text-center text-muted mt-4">Happiness:</h4></li>

<div class="spacer_2"></div>

<div class="container mt-5 mb-4 text-center">
  <p class="text-secondary">Last of the main 3 attributes. You can increase with playing with your character. The state is decreased in every hours and
  required for the other two actions. This is the cost you gold.</p>
</div>

<div class="spacer_2_5"></div>

<%= render 'shared/dinamic_single_index_back_button' %>