</br>
<h4 class="list-item text-center text-muted mt-2">Hibernated:</h4></li>

<div class="spacer_2"></div>

<div class="container mt-5 mb-4 text-center">
  <p class="text-secondary">You can hibernate your character if you pay the price of it. With this option your character
  won't be older, but your other attributes also will be frozen.  This option is good for if you can't play recently.
  At this moment the option is not active</p>
</div>

<div class="spacer_2_5"></div>


<%= render 'shared/dinamic_single_index_back_button' %>