</br>
<h4 class="list-item text-center text-muted mt-2">Status:</h4></li>

<div class="spacer_2"></div>

<div class="container mt-5 mb-4 text-center">
  <p class="text-secondary">Your character can have two status. Dead or Alive. You can only have one character alive at time.
  As long as it is alive, getting older and it's parameters has to be managed. The main challenge is keep it alive as long as can.
  If once you character died, you can create a new one, but you have to start and make it older from 0 again.</p>
</div>

<div class="spacer_2_5"></div>


<%= render 'shared/dinamic_single_index_back_button' %>
